In [35]:
import pandas as pd

# Ruta de la base de datos 1. PIB pm Demanda (Precios corrientes):
file_path = r"C:\Users\anasa\Desktop\Ana\IRONHACK\Proyecto final\Datos descargados\1. PIB pm Demanda (Precios corrientes).xlsx"

# Leer la base datos de 1. PIB pm Demanda (Precios corrientes):
df = pd.read_excel(file_path)

# Visualizaxion de la tabla completa, queremos ver que coge todas las variables que necesitamos para el analisis:
df

,variables,2024T1,2023T4,2023T3,2023T2,2023T1,2022T4,2022T3,2022T2,2022T1,...,1997T2,1997T1,1996T4,1996T3,1996T2,1996T1,1995T4,1995T3,1995T2,1995T1
0,Producto interior bruto a precios de m...,368361,385409,360186,366637,349657,360022,334461,337076,314818,...,130471,121938,129967,120174,123286,115776,122392,112398,116633,109165
1,Demanda nacional,353924,372788,341952,349753,337115,353031,328238,331326,317469,...,129786,123498,130790,118592,123164,117540,124405,112307,117565,111475
2,Gasto en consumo final,282534,288468,271085,276666,268474,271403,257705,260838,250898,...,98401,97860,101020,92894,94642,92797,95919,87765,89949,88400
3,Gasto en consumo final de las AAPP,70111,81737,67818,75352,66720,77978,63280,70052,62923,...,23356,20318,23612,19797,22440,19699,22407,18687,21271,18762
4,Formación bruta de capital fijo (FBCF),70698,74748,68455,71676,67038,70723,66873,68722,63992,...,28919,26939,28068,25706,26519,25800,26176,24369,26062,24247
5,Demanda externa,14437,12621,18234,16884,12542,6991,6223,5750,-2651,...,685,-1560,-823,1582,122,-1764,-2013,91,-932,-2310
6,Exportaciones de bienes y servicios,136973,142422,142037,144867,140167,143625,144412,142842,119440,...,34519,28553,29779,28403,28788,25705,25709,24721,26209,23894
7,Importaciones de bienes y servicios,122536,129801,123803,127983,127625,136634,138189,137092,122091,...,33834,30113,30602,26821,28666,27469,27722,24630,27141,26204

In [36]:
# Para transformar la tabla de formato soble entrada a formato tabular usamos el metodo melt():
df=df.melt(id_vars=["variables"], var_name="quarter", value_name="totals")
df['year'] = df['quarter'].str[:4].astype(int)
df['quarter'] = df['quarter'].str[5:].astype(int)
df

                                             variables  quarter  totals  year
0            Producto interior bruto a precios de m...        1  368361  2024
1                                     Demanda nacional        1  353924  2024
2                               Gasto en consumo final        1  282534  2024
3                   Gasto en consumo final de las AAPP        1   70111  2024
4               Formación bruta de capital fijo (FBCF)        1   70698  2024
..                                                 ...      ...     ...   ...
931                 Gasto en consumo final de las AAPP        1   18762  1995
932             Formación bruta de capital fijo (FBCF)        1   24247  1995
933                                    Demanda externa        1   -2310  1995
934                Exportaciones de bienes y servicios        1   23894  1995
935                Importaciones de bienes y servicios        1   26204  1995

[936 rows x 4 columns]

In [29]:
# Agrupar por Año y calcular la suma de cada variable (M€) para no tener datos en valores trimestrale:
df_agregado= df.groupby(["year", "variables"]).agg({"totals":"sum", "quarter":"size"}).reset_index()
df_agregado

     year                                          variables  totals  quarter
0    1995                                    Demanda externa   -5164        4
1    1995                                   Demanda nacional  465752        4
2    1995                Exportaciones de bienes y servicios  100533        4
3    1995             Formación bruta de capital fijo (FBCF)  100854        4
4    1995                             Gasto en consumo final  362033        4
..    ...                                                ...     ...      ...
235  2024             Formación bruta de capital fijo (FBCF)   70698        1
236  2024                             Gasto en consumo final  282534        1
237  2024                 Gasto en consumo final de las AAPP   70111        1
238  2024                Importaciones de bienes y servicios  122536        1
239  2024          Producto interior bruto a precios de m...  368361        1

[240 rows x 4 columns]

In [30]:
# Para calcular la tasa de variación de cada vavriable de un año a otro:
df_agregado['tasa_de_variacion'] = df_agregado.groupby('variables')['totals'].pct_change() * 100
df_agregado

,year,variables,totals,quarter,tasa_de_variacion
0,1995,Demanda externa,-5164,4,NaN
1,1995,Demanda nacional,465752,4,NaN
2,1995,Exportaciones de bienes y servicios,100533,4,NaN
3,1995,Formación bruta de capital fijo (FBCF),100854,4,NaN
4,1995,Gasto en consumo final,362033,4,NaN
...,...,...,...,...,...
235,2024,Formación bruta de capital fijo (FBCF),70698,1,-74.922406
236,2024,Gasto en consumo final,282534,1,-74.424207
237,2024,Gasto en consumo final de las AAPP,70111,1,-75.958673
238,2024,Importaciones de bienes y servicios,122536,1,-75.936152
239,2024,Producto interior bruto a precios de m...,368361,1,-74.802396

,year,variables,totals,quarter,Tasa_de_Variacion,tasa_de_variacion
224,2023,Demanda externa,60281,4,269.527371,269.527371
225,2023,Demanda nacional,1401608,4,5.378989,5.378989
226,2023,Exportaciones de bienes y servicios,569493,4,3.484161,3.484161
227,2023,Formación bruta de capital fijo (FBCF),281917,4,4.293959,4.293959
228,2023,Gasto en consumo final,1104693,4,6.134349,6.134349
229,2023,Gasto en consumo final de las AAPP,291627,4,6.342782,6.342782
230,2023,Importaciones de bienes y servicios,509212,4,-4.643019,-4.643019
231,2023,Producto interior bruto a precios de m...,1461889,4,8.579469,8.579469

,year,variables,totals,quarter,tasa_de_variacion
216,2022,Demanda externa,16313,4,38.798605
217,2022,Demanda nacional,1330064,4,9.873882
218,2022,Exportaciones de bienes y servicios,550319,4,31.738782
219,2022,Formación bruta de capital fijo (FBCF),270310,4,10.012250
220,2022,Gasto en consumo final,1040844,4,9.950710
221,2022,Gasto en consumo final de las AAPP,274233,4,5.672163
222,2022,Importaciones de bienes y servicios,534006,4,31.534403
223,2022,Producto interior bruto a precios de m...,1346377,4,10.152010